<% 
table_class ||= "participants"
cell ||= Proc.new do; end
cols = game.game_type.number_of_teams
rows = game.game_type.players_per_team
%>
<table class="<%=table_class%>">
  <tr>
    <% cols.times do | number | %>
      <th>
        <%= "#{game.team_descriptor} #{number + 1}" %>
      </th>
    <% end %>
  </tr>
  <% rows.times do | player | %>
      <% cols.times do | team | %>
        <td>  
          <%= cell.call(team, player)%>
        </td>
      <% end %>
    </tr>
  <% end %> 
</table>
