<h1>Not Authorized</h1>
<p>Sorry, you've reached the private Magic the Gathering ranking website
<%= @config[:organization_name] ? 
  " for #{@config[:organization_name]}" : ""%>.
You'll have to ask for the private url to access the site.</p>
<br/>
<p>Have a nice day!</p>
